{{ define "main" }}

<section class="mt-52 lg:mt-64 fixed top-0 left-0 right-0" id="hero">
  <div class="mx-auto container px-12 lg:px-56 text-center">
    <h1 class="font-benne">{{ .Description }}</h1>
  </div>
</section>

<section class="w-full mt-128 lg:mt-160 flex flex-col items-center" id="mywork">
  <div class="max-w-7xl flex justify-center flex-wrap">
    {{ range (where .Site.RegularPages "Type" "portfolio").ByDate | first 8 }}
    <div class="lg:p-12 sm:w-1/2 text-center">
      <a class="text-base block relative" href="{{ .Permalink }}">
        <div class="absolute inset-0 text-white bg-red-500 opacity-0 duration-500 hover:opacity-100 flex justify-center items-center" aria-hidden="true">
          <p class="duration-500">{{ .Title }}</p>
        </div>
        {{ with .Params.thumb }}
        {{ $img := resources.Get . }}
        {{ $r := $img.Resize "640x webp q85" }}
        <img src="{{ $r.RelPermalink }}" width="{{ $r.Width }}" height="{{ $r.Height }}" alt="work-thumb" loading="lazy" decoding="async" />
        {{end}}
      </a>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}